* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
}

a {
	text-decoration: none;
}

.contenedor {
	margin: auto;
	width: 90%;
	max-width: 1200px;
}

main article {
	background: white;
	margin: 20px 0;
	padding: 20px;
	height: 1000px;
}
/* Estilos de Menu "Enlaces"*/
.menu {
	background: #232F3E;
	padding: 5px 0;
	margin-bottom: 20px;
}
.menu .contenedor-botones-menu {
	display: none;
	justify-content: space-between;
}

.menu .contenedor-botones-menu button {
	font-size: 20px;
	color: white;
	padding: 10px 20px;
	border: 1px solid transparent;
	display: inline-block;
	cursor: pointer;
	background: none;
}

.menu .contenedor-botones-menu button:hover {
	border: 1px solid rgba(255,255,255, .4);
}

.menu .contenedor-botones-menu .btn-menu-cerrar {
	display: none;
}

.menu .contenedor-botones-menu .btn-menu-cerrar.activo {
	display: inline-block;
}

.menu .contenedor-enlaces-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu .btn-departamentos {
	color: white;
	padding: 7px;
	border-radius: 3px;
	display: flex;
	align-items: flex-end;
	border: 1px solid transparent;
	font-size: 12px;
	cursor: default;
}

.menu .btn-departamentos i {
	margin-left: 20px;
	position: relative;
	bottom: 18px;
}

.menu .btn-departamentos:hover {
	border: 1px solid rgba(255,255,255, .4);
}

.menu .btn-departamentos span {
	display: block;
	font-size: 14px;
	font-weight: bold;
}

.menu .contenedor-enlaces-nav .enlaces a {
	color: #ccc;
	border: 1px solid transparent;
	padding: 7px;
	border-radius: 3px;
	font-size: 14px;
}

.menu .contenedor-enlaces-nav .enlaces a:hover {
	border: 1px solid rgba(255,255,255,.4);
}
/* Estilos de Menu "Categorias (grid)"*/
.contenedor-grid {
	position: relative;
}

.grid {
	width: 100%;
	display: none;
	position: absolute;
	top: 5px;
	z-index: 1000;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr;
	grid-template-areas: "categorias subcategorias subcategorias subcategorias";
}

.grid.activo {
	display: grid;
}

.grid::before {
	content: "";
	display: block;
	background: transparent;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #fff;
	position: absolute;
	top: -5px;
	left: 65px;
}

.grid > div {
	background: #fff;
	box-shadow: 0px 3px 6px rgba(0,0,0,.10);
}

/* Estilos de Menu "Categorias"*/

.grid .btn-regresar {
	background: #232F3E;
	color: #fff;
	border: none;
	padding: 10px;
	border-radius: 3px;
	margin: 20px;
	font-size: 16px;
	cursor: pointer;
	display: none;
}

.grid .btn-regresar i {
	margin-right: 10px;
}

.grid .categorias {
	grid-area: categorias;
	padding-top: 10px;
	min-height: 300px;
	overflow: auto;
}

.grid .categorias .subtitulo {
	display: none;
}

.grid .categorias a {
	color: #000;
	font-size: 14px;
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
}

.grid .categorias a i {
	display: none;
}

.grid .categorias a:hover {
	color: #db307c;
	font-weight: bold;
}

.grid .categorias a:hover i {
	display: inline-block;
}

/* Estilos de Menu "Subcategorias"*/

.grid .contenedor-subcategorias {
	grid-area: subcategorias;
}

.grid .subcategoria {
	display: none;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	height: 100%;
}

.grid .subcategoria.activo {
	display: grid;
}

.grid .subcategoria img {
	width: 100%;
	vertical-align: top;
	height: 100%;
	object-fit: cover;
}

.grid .enlaces-subcategoria {
	padding-top: 10px;
	height: 100%;
	max-height: 300px;
	overflow: auto;
}

.grid .enlaces-subcategoria a {
	color:black;
	display: block;
	font-size: 14px;
	padding: 10px 20px;
}

.grid .enlaces-subcategoria a:hover {
	color: #db307c;
}

.grid .subtitulo {
	font-size: 18px;
	font-weight: normal;
	color: #db307c;
	padding: 10px 20px;
}

.grid .banner-subcategoria a {
	display: block;
	height: 100%;
}

.grid .galeria-subcategoria {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

.grid .galeria-subcategoria a {
	width: 50%;
	height: 50%;
}
.description{
    height: 25px;
    overflow: hidden;
    transition: height .3s ease-in;
}
.description:hover{
    height: 100px;
}
.imgCard{
    width: 200px;
    border-radius: 10PX;

}
.articulo {
    margin: 20px auto;
    text-align: center;
    padding: 20px;
    height: auto;
    font-size: 12px;
    background-color: white;
}
.carrito{
    min-height: 70vh;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}
.table__productos{
    display: flex;
}
.table__productos > img{
    width: 50px;
    object-fit: contain;
    border-radius: 6px;
    margin-right: 20px;
}

.table__cantidad > input{
    width: 40px;
    object-fit: contain;
    border-radius: 6px;
    margin-right: 20px;

}
.alert{
    z-index: 100;
}
.hide{
    display: none;
}
/*Mediaqueries*/
@media screen and (max-width: 1000px) {
	.menu .contenedor-enlaces-nav {
		padding: 0 10px;
	}

	.menu .contenedor {
		width: 100%;
	}
}

@media screen and (max-width: 800px) {
	.menu .contenedor {
		width: 90%;
	}

	.menu .contenedor-botones-menu {
		display: flex;
	}

	.menu .contenedor-enlaces-nav {
		padding: 20px;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		position: fixed;
		left: 0;
		background: #232F3F;
		height: 100vh;
		width: 80%;
		z-index: 2000;
		transition: .3s ease all;
		transform: translate(-100%);
	}

	.menu .contenedor-enlaces-nav.activo {
		transform: translate(0%);
	}

	.menu .btn-departamentos {
		width: 100%;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
	}

	.menu .btn-departamentos i {
		position: static;
		margin-left: 20px;
		transform: rotate(-90deg);
	}

	.menu .enlaces {
		width: 100%;
	}

	.menu .enlaces a {
		display: block;
		margin: 10px 0;
		padding: 10px;
	}

	.grid {
		display: grid;
		transition: .3s ease all;
		transform: translateX(-100%);
		z-index: 3000;
		width: 80%;
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		grid-template-areas: "categorias categorias categorias categorias";
	}

	.grid.activo {
		transform: translateX(0%);
	}

	.grid::before {
		display: none;
	}

	.grid .btn-regresar {
		display: inline-block;
	}

	.grid .categorias .subtitulo {
		display: block;
	}

	.grid .contenedor-subcategorias {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		transition: .3s ease all;
		transform: translateX(-100%);
		overflow: auto;
	}

	.grid .contenedor-subcategorias.activo {
		transform: translateX(0%);
	}

	.grid .contenedor-subcategorias .subcategoria {
		grid-template-columns: 1fr;
	}

	.grid .contenedor-subcategorias .banner-subcategoria {
		width: 100%;
		min-height: 250px;
		max-height: 350px;
	}

	.grid .enlaces-subcategoria {
		min-height: 50vh;
		overflow: auto;
	}

	.grid .contenedor-subcategorias .galeria-subcategoria a {
		width: 25%;
		height: 100%;
	}
}
@media(min-width: 858px){
    .productos{
        display: grid;
        grid-template-columns: 3fr 3fr 3fr;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .articulo {
        margin: 20px auto;
        text-align: center;
        padding: 20px;
        height: auto;
        font-size: 12px;
        background-color: white;
        margin: 20px;
        border-radius: 10px;
    }

}
/*clases de susbcategorias filtrados de menu*/
.noMostrar{
	display: none;
}
.celulares_y_Smartphone{
	display: none;
}
.accesorios_para_celulares{
	display: none;
}
.componentes_para_Pc{
	display: none;
}
.impresion{
	display: none;
}
.pc_de_escritorio{
	display: none;
}
.notebooks{
	display: none;
}
.camaras_digitales{
	display: none;
}
.accesorios_para_camaras{
	display: none;
}
.audio{
	display: none;
}
.accesorios_para_audio_y_video{
	display: none;
}
.componentes_electrónicos{
	display: none;
}
.drones_y_accesorios{
	display: none;
}
.videojuegos{
	display: none;
}
.para_playstation{
	display: none;
}

.samsung{
	display: none;
}
.philips{
	display: none;
}
.lg{
	display: none;
}
.otras_marcas{
	display: none;
}

.celulares_y_Smartphone.activo1{
	display: flex;
}
.accesorios_para_celulares.activo2{
	display: flex;
}
.componentes_para_Pc.activo3{
	display: flex;
}
.impresion.activo4{
	display: flex;
}
.pc_de_escritorio.activo5{
	display: flex;
}
.notebooks.activo6{
	display: flex;
}
.camaras_digitales.activo7{
	display: flex;
}
.accesorios_para_camaras.activo8{
	display: flex;
}
.audio.activo9{
	display: flex;
}
.accesorios_para_audio_y_video.activo10{
	display: none;
}
.componentes_electrónicos.activo11{
	display: flex;
}
.drones_y_accesorios.activo12{
	display: flex;
}
.videojuegos.activo13{
	display: flex;
}
.para_playstation.activo14{
	display: flex;
}
.samsung.activo15{
	display: flex;
}
.philips.activo16{
	display: flex;
}
.lg.activo17{
	display: flex;
}
.otras_marcas.activo18{
	display: flex;
}
.description{
    height: 25px;
    overflow: hidden;
    transition: height .3s ease-in;
}
.description:hover{
    height: 100px;
}
.imgCard{
    width: 200px;
    border-radius: 10PX;

}
.articulo {
    margin: 20px auto;
    text-align: center;
    padding: 20px;
    height: auto;
    font-size: 12px;
    background-color: white;
}
.carrito{
    min-height: 70vh;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}
.table__productos{
    display: flex;
}
.table__productos > img{
    width: 50px;
    object-fit: contain;
    border-radius: 6px;
    margin-right: 20px;
}

.table__cantidad > input{
    width: 40px;
    object-fit: contain;
    border-radius: 6px;
    margin-right: 20px;

}
.alert{
    z-index: 100;
}
.hide{
    display: none;
}
